{% extends 'layout.html' %}

            {% block title %}
            Contact
            {% endblock %}

            {% block content %}
            
            <br><br><br><br><br><br>
            <h2 style="margin-left: 40%;"> My Contact Details :- </h2>
                <br><br><br>
            <center>
            <h3 style="margin-left: 20%;"> 
            <li>Email Address : <a href="mailto:vkyraghuwanshi09@gmail.com" style="color:black">vkyraghuwanshi09@gmail.com</a> </li>
            <li>LinkedIn Profile : <a href="https://www.linkedin.com.in/vickyraghuwanshi" style="color:black">vickyraghuwanshi</a></li>
            <li>GitHub Profile : <a href="https://www.github.com/Vicky-Raghuwanshi07" style="color:black">Vicky-Raghuwanshi07</a></li>
            </h3>
            </center>
            
    {% endblock %}