<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../static/css/layout.css">
    <title>
        {% block title %}
        {% endblock %}

    </title>
</head>
<body style="background-color:#e1eedd;">
<nav>
    <ul class="navigators">
        <li><a class="active" href="/">Home</a></li>
        <li><a href="/history">History</a></li>
        <li><a href="/contact">Contact</a></li>
        <li style="float:right"><a href="/about">About</a></li>
    </ul>
</nav>
    <a  href="#"> <img src="./../static/images/innomatics.png" alt="" style="width: 250px;"> </a>
{% block content %}

{% endblock %}
</body>
</body>
</html>